<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error 404</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
    <div class="container alert alert-warning" role="alert">
        <h1 class="alert-heading display-4">Erro 404</h1>
        <hr />
        <h4>Página não encontrada  - Verifique o endereço digitado</h4>
        <a href="/" class="alert-link">Voltar</a>
    </div>

</body>
</html>